<ion-header>

  <custom-logged-header [title]="view|capitalize:true"></custom-logged-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="view" color="secondary">
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
      <ion-segment-button value="users">
        Users
      </ion-segment-button>
      <ion-segment-button value="arquivadas">
        Arquivadas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar >
    <ion-searchbar   (ionInput)="filterItems($event)" placeholder="Filtro"></ion-searchbar>
  </ion-toolbar>


</ion-header>

<ion-content padding>


  <div [ngSwitch]="view">

    <ion-list *ngSwitchCase="'chats'">
      <button ion-item *ngFor="let chat of chats | async" (click)="onChatOpen(chat)">

        <ion-avatar item-left>
          <img [src]="chat.photo || '../../assets/imgs/no-photo.jpg'">
        </ion-avatar>
        <h2>{{ chat.title }}</h2>
        <p *ngIf="chat.lastMessage; else customMessage"> {{chat.timestamp | date: 'dd/MM/y H:mm'}} -
          {{chat.lastMessage}}</p>
        <ng-template #customMessage>
          <p>No Messages</p>
        </ng-template>
      </button>
    </ion-list>

    <ion-list no-lines *ngSwitchCase="'users'">
      <button ion-item *ngFor="let user of users | async" (click)="onChatCreate(user)">
        <ion-avatar item-left>
          <img [src]="user.photo || '../../assets/imgs/no-photo.jpg'">
        </ion-avatar>
        <h4>{{ user.name }}</h4>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'arquivadas'">
      <button ion-item *ngFor="let user of users | async" (click)="onChatCreate(user)">
        Arq - {{ user.name }}
      </button>
    </ion-list>

  </div>





</ion-content>


<ion-footer>

  <ion-item ion-item color="secondary">
    <ion-icon item-left name="person" color="light"></ion-icon>
    <h4>{{userCurrente}}</h4>
  </ion-item>
</ion-footer>
